{% extends 'registration/base.html' %}

{% block title %}{% block title_meta %}
    رمز عبور تغییر کرد   
{% endblock %}{% endblock %}

{% block main %}

<div class="col-md-8 text-center">
    <!-- general form elements -->
    <div class="card card-primary card-success">
      <div class="card-header">
        <h3 class="card-title mb-0 float-left">رمز عبور تغییر کرد</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body py-4">
        <p class="py-2">عملیات تغییر رمز عبور با موفقیت انجام شد</p>
      </div>
</div>
{% endblock %}